<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="reduce.project.yaerei.toshopnote">

    <application
        android:name="com.activeandroid.app.Application"

        android:allowBackup="true"
        android:icon="@drawable/toshopnoteicon"
        android:label="@string/title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="List.db"/>

        <meta-data
            android:name="AA_DB_VERSION"
            android:value="3"/>

        <meta-data
            android:name="AA_MODELS"
            android:value="reduce.project.yaerei.toshopnote.bookItem,
            reduce.project.yaerei.toshopnote.dishItem,
            reduce.project.yaerei.toshopnote.gorakuItem,
            reduce.project.yaerei.toshopnote.iruiItem,
            reduce.project.yaerei.toshopnote.kadennItem,
            reduce.project.yaerei.toshopnote.kaguItem,
            reduce.project.yaerei.toshopnote.sumItem,
            reduce.project.yaerei.toshopnote.menubunboguItem,
            reduce.project.yaerei.toshopnote.menufoodItem,
            reduce.project.yaerei.toshopnote.shokkiItem,
            reduce.project.yaerei.toshopnote.softItem,
            reduce.project.yaerei.toshopnote.sonotaItem"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/title"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

        <activity
            android:name=".lockActivity"
            android:label="@string/login"/>

        <activity
            android:name=".bookmenuActivity"
            android:label="@string/bookmenu"/>
        <activity
            android:name=".dishmenuActivity"
            android:label="@string/dishmenu"/>
        <activity
            android:name=".gorakumenuActivity"
            android:label="@string/gorakumenu"/>
        <activity
            android:name=".iruimenuActivity"
            android:label="@string/iruimenu"/>
        <activity
            android:name=".kadennmenuActivity"
            android:label="@string/kadennmenu"/>
        <activity
            android:name=".kagumenuActivity"
            android:label="@string/kagumenu"/>
        <activity
            android:name=".menubunboguActivity"
            android:label="@string/bunnbogumenu"/>
        <activity
            android:name=".menufoodActivity"
            android:label="@string/foodmenu"/>
        <activity
            android:name=".menusoftActivity"
            android:label="@string/softmenu"/>
        <activity
            android:name=".shokkimenuActivity"
            android:label="@string/shokkimenu"/>
        <activity
            android:name=".sonotamenuActivity"
            android:label="@string/sonotamenu"/>

        <activity android:name=".sumActivity"
            android:label="@string/summoney"/>
    </application>

</manifest>